*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 83%;
  }
}

@media only screen and (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #dddbff;
  background-color: #0c122c;
  overflow: hidden;
}

.background {
  position: fixed;
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: 1;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15;
  width: 70%;
}

@media only screen and (max-width: 47em) {
  .container {
    width: 75%;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 40.6em) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.icon,
.data {
  background-color: #1d2c67;
  padding: 4rem;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  height: 19rem;
  margin-right: 2.5rem;
  border-radius: .8rem 10rem .8rem .8rem;
}

.icon__logo img {
  height: 4.2rem;
}

.icon__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.3rem;
  height: 4.3rem;
  padding: 1rem;
  border-radius: .8rem;
  background-color: #0c122c;
}

.icon__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.icon__box:not(:last-of-type) {
  margin-right: 1.2rem;
}

.data {
  height: 15rem;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  border-radius: .8rem;
}

.data__text span {
  font-weight: 700;
}

.data__line {
  width: 100%;
  height: 1.7rem;
  background-color: rgba(12, 18, 44, 0.5);
  border-radius: .8rem;
  margin: 1.2rem 0 .5rem 0;
  z-index: 180;
  position: relative;
}

.data__line::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 81.5%;
  height: 1.4rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: .8rem;
  z-index: 185;
}

.data__line::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 79%;
  width: 1rem;
  height: 1rem;
  background: #dddbff;
  border-radius: 50%;
  z-index: 185;
}

.data__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.data__stats p {
  font-weight: 700;
}

.data__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  height: 6rem;
  background-color: #fff;
  border-radius: .8rem .8rem 0 .8rem;
  color: #000;
  position: absolute;
  top: 0;
  right: 3.5rem;
}

.data__hover::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-right: 1rem solid #fff;
  border-left: 1rem solid transparent;
  border-top: 1rem solid #fff;
  border-bottom: 1rem solid transparent;
  right: 0;
  bottom: -30%;
}

.data__main-text {
  font-weight: 700;
  font-size: 3.5rem;
  margin-right: 1rem;
}

.data__sub-text {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */